<!--  <div class="wrapper">
  <div class="flex-container d-md-flex">
    <div class="bg-danger item-1">1</div>

    <div class="bg-dark item-2">
      <div class="container  d-md-flex flex-column  style-sm">
        <div class="bg-info item-2-1 ">2</div>
        <div class="bg-danger item-2-2">3</div>
      </div>
    </div>
  </div>
</div>  -->

<!-- <div class="container flex-box m-auto">
  <div class="row">
<div class="bg-danger col-md-9" style="height: 100px;">1</div>
<div  class="bg-info col-md-2 dis-style">
  <div  class="bg-danger col-md-12">2</div>
  <div class="bg-dark col-md-12 " style="height: 100px;">3</div>
</div>
</div> -->

<div class="flex-container d-md-flex py-5 my-5">
  <div class="bg-danger item-1 border">
     <div class="container">
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>

  <div class="bg-light item-2 p-5 border">1</div>

  <div class="bg-dark item-3 p-3 border">
   3</div>
</div>

<!-- <div class="bg-dark col-md-2 float-right ">3</div> -->

<!-- <div class="container">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</div> -->
